* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    --bg-color: #333333;
    --water-color1: #073985;
    --water-color2: #222285;
    --ship-color: #727272;
    --ship-color2: #707070;
    --hit-color: #990000;
}

body {
    padding: min(1rem, 5%);
    background-color: var(--bg-color);
    color: white;
}

header {
    padding-bottom: 1rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.playerOne, .playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    box-shadow: 4px 8px 12px #00000044;
}

.grid:hover {
    cursor: crosshair;
}

.cell {
    background: linear-gradient(to bottom right, var(--water-color1), var(--water-color2));
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
}

.cell.ship {
    background: var(--ship-color2);
}

.cell.hit {
    background: radial-gradient(#d89a15, #990000);
}

dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: none;
}

#closeBtn {
    padding: 0.5rem 1rem;
    background: var(--ship-color);
    color: white;
    border-radius: 5px;
}

dialog .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

dialog::backdrop {
    background-color: #00000077;
}